.home {
    background-image: url("https://wallpaperaccess.com/full/1996531.jpg");
    height: 600px;
    text-align: center;
    padding-top: 50px;
}

.home h1 {
    color: aliceblue;
}
.home p {
   color:goldenrod; 
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
}
.html{
   border-radius: 500px;

}

.register {
    border-radius: 50px;
}

.home_txt {
    
}
.gallery{
    text-align: center;
    text-decoration: underline;